@import "~styles/mixins";
@import "~styles/queries";
@import "~styles/themes";
@import "~styles/units";

.article {
  display: block;
  position: relative;
  background: rgba-color(background-1);
  color: rgba-color(foreground-0);
}

.header {
  border: none;
}

.title {
  color: rgba-color(foreground-0);
  line-height: 1.4;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;

  @include breakpoint(breakpoint-3) {
    font-size: 2.5rem;
  }
}

.subtitle {
  color: rgba-color(neutral);
  font-size: 1rem;
  position: relative;
  padding: $unit-size-sub 0;
  padding-left: 1.25rem;
  padding-left: 0;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    background: rgba-color(background-2);
    display: none;
  }
}

.section-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  color: rgba-color(foreground-0);
}

img {
  border-radius: $unit-size-sub;
  overflow: hidden;
}

.horizontal-rule {
  @include horizontal-rule;
}

.article-nav-link {
  @include anchor-with-icon(left);
  .icon {
    color: rgba-color(primary);
  }
  &:hover,
  &:focus {
    .icon {
      color: rgba-color(highlight);
    }
  }
}

.published-date {
  margin-top: $unit-size-medium;
}

.embed {
  position: relative;
  max-width: 100%;
}
