@import "~styles/mixins";
@import "~styles/colors";
@import "~styles/queries";
@import "~styles/units";

.article {
  display: block;
  position: relative;
  background: color(--color-light1);
  color: color(--color-dark);
}

.header {
  border: none;
}

.title {
  color: color(--color-dark);
  line-height: 1.4;
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;

  @include breakpoint(breakpoint-3) {
    font-size: 2.5rem;
  }
}

.subtitle {
  color: color(--color-dark1);
  font-size: 1rem;
  position: relative;
  padding: $unit-size-sub 0;
  padding-left: 1.25rem;
  padding-left: 0;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    background: color(--color-light2);
    display: none;
  }
}

.section-title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: capitalize;
  color: color(--color-dark);
  //@include css-underline($unit-size-sub, --color-dark1);
}

img {
  border-radius: $unit-size-sub;
  overflow: hidden;
}

.horizontal-rule {
  @include horizontal-rule;
}

.article-nav-link {
  @include anchor-with-icon(left);
  .icon {
    color: color(--color-primary);
  }
  &:hover,
  &:focus {
    .icon {
      color: color(--color-highlight);
    }
  }
}

.published-date {
  margin-top: $unit-size-medium;
}

.embed {
  position: relative;
  max-width: 100%;
}
