@import "~styles/mixins";
@import "~styles/colors";

.article {
  display: block;
  position: relative;
  background: color(--color-light1);
  color: color(--color-dark);
}

.header{
  border: none;
}

.title {
  color: color(--color-dark);
  line-height: 1.5;
  font-size: 2.75rem;
  font-weight: 500;
  text-transform: capitalize;
}

.subtitle {
  color: color(--color-dark1);
  font-style: italic;
  font-size: 1rem;
  font-weight: 400;
  position: relative;
  padding: 0.25rem 0;
  padding-left: 1.25rem;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.5rem;
    height: 100%;
    background: color(--color-light2);
  }
}

h3{
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  color: color(--color-dark);
}

.horizontal-rule{
  @include divider

  &:first-of-type{
    margin-top: 1rem;
  }
}

.link-with-icon {
  display: inline-flex;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
  }
}

.published-date{
  margin-top: 1.5rem;
}