@import "~styles/themes";
@import "~styles/mixins";
@import "~styles/units";

.call-out-wrapper {
  @include responsive-spacing("padding", (top, right, bottom, left));
  background: rgba-color(primary, 0.08);
  border-width: 0;
  border-left-width: $unit-size-sub;
  border-style: solid;
  border-color: rgba-color(primary);
  border-radius: $unit-size-sub/2;

  h4 {
    color: rgba-color(foreground-0);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
