@import "~styles/mixins";
@import "~styles/themes";

pre {
  @include responsive-spacing(padding, (top, right, bottom, left), 0.5);
  background: rgba-color(background-0);
  border-radius: $unit-size-sub/2;
  margin-top: $unit-size-base;
  max-width: 100%;
  overflow: scroll;
  position: relative;

  code {
    line-height: 1.5rem !important;
    background: transparent !important;
    font-size: 0.875rem !important;
    &:first-child {
      span {
        padding-right: $unit-size-base;
        color: rgba-color(neutral, 0.4) !important;
      }
    }
    span {
      font-family: monospace !important;
      color: rgba-color(neutral);
    }
  }
}

.token {
  &.atrule {
    color: rgba-color(foreground-0);
  }
  &.comment {
    color: rgba-color(neutral, 0.4) !important;
  }
  &.function {
    color: rgba-color(prism-function);
  }
  &.keyword {
    color: rgba-color(prism-keyword);
  }
  &.hexcode,
  &.number,
  &.unit {
    color: rgba-color(foreground-0);
  }
  &.property {
    color: rgba-color(neutral);
  }
  &.string {
    color: rgba-color(prism-string);
  }
  &.variable {
    color: rgba-color(prism-variable);
  }
}
