@import "~styles/mixins";
@import "~styles/themes";

pre {
  @include responsive-spacing(padding, (top, right, bottom, left), 0.5);
  background: rgba-color(background-0);
  border-radius: $unit-size-sub/2;
  margin-top: $unit-size-base;
  max-width: 100%;
  overflow: scroll;
  position: relative;

  code {
    line-height: 1.5rem !important;
    background: transparent !important;
    font-size: 0.875rem !important;
    &:first-child {
      span {
        padding-right: $unit-size-base;
        color: rgba-color(neutral, 0.4) !important;
      }
    }
    span {
      font-family: monospace !important;
      color: rgba-color(neutral);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .token {
    &.atrule {
      color: rgba-color(foreground-0);
    }
    &.comment {
      color: rgba-color(neutral, 0.4) !important;
    }
    &.function {
      color: #1989b5;
      color: #9885d6;
    }
    &.keyword {
      color: #a06ef5;
      color: rgba-color(primary);
      color: #50a189;
    }
    &.hexcode,
    &.number,
    &.unit {
      color: rgba-color(foreground-0);
    }
    &.property {
      color: rgba-color(neutral);
    }
    &.string {
      color: #baa46e;
    }
    &.variable {
      color: #cc6281;
    }
  }
}

@media (prefers-color-scheme: light) {
  .token {
    &.atrule {
      color: rgba-color(foreground-0);
    }
    &.comment {
      color: rgba-color(neutral, 0.4) !important;
    }
    &.function {
      color: darken(#9885d6, 20%);
    }
    &.keyword {
      color: darken(#50a189, 8%);
    }
    &.hexcode,
    &.number,
    &.unit {
      color: rgba-color(foreground-0);
    }
    &.property {
      color: rgba-color(neutral);
    }
    &.string {
      color: darken(#baa46e, 12%);
    }
    &.variable {
      color: #cc6281;
    }
  }
}
