@import "~styles/queries";
@import "~styles/themes";
@import "~styles/units";

@mixin anchor-underline($color: --color-primary, $size: 1px) {
  color: color($color);
  outline: none;
  padding: calc(#{$unit-size-base/2} + #{$unit-size-sub/2}) 0;
  background-position: left bottom;
  background-size: auto $size;
  background-repeat: repeat-x;
  background-image: linear-gradient(
    to top,
    color($color, 1) $size,
    transparent $size
  );
}

@mixin app-link($color: --color-primary) {
  @include anchor-underline($color, 1px);
  color: color($color);
  font-weight: 500;
  cursor: pointer;
}

@mixin anchor-with-icon($align: left) {
  .icon {
    position: relative;
    transform: translateY(25%);
    @if ($align == left) {
      margin-right: $unit-size-base;
    } @else if($align == right) {
      margin-left: $unit-size-base;
    }
  }
}

@mixin css-underline($size: 2px, $color: --color-dark, $opacity: 1) {
  display: inline-block;
  padding-bottom: $size;
  background-repeat: repeat-x;
  background-image: linear-gradient(
    to top,
    color($color, $opacity) $size,
    transparent $size
  );
}

@mixin horizontal-rule($color: --color-light2) {
  background: color($color);
  width: 100%;
  max-height: none;
  height: $unit-size-sub;
  border: none;
  opacity: 0.5;
  margin: $unit-size-medium 0;
  @include breakpoint(large) {
    margin: $unit-size-large 0;
  }
}
