@mixin divider($color: --color-light2) {
  background: color($color);
  margin: 2rem 0;
	width: 100%;
	height: 2px;
	max-height: 2px;
	border-style: solid;
	border-color: transparent;
	border: none;
	opacity: 0.5;
}