@import "~styles/queries";
@import "~styles/units";

@mixin anchor-underline($color: --color-primary) {
  display: inline-block;
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1rem 100%;
  // background image in dark mode for underline effect
  background-image: linear-gradient(
    to top,
    color($color, 0.25) 40%,
    transparent 40%
  );
  &:hover,
  &:focus {
    outline: none;
    background-size: 1rem 250%;
    background-image: linear-gradient(
      to top,
      color(--color-highlight, 0.25) 40%,
      transparent 40%
    );
  }
  // background image in light mode for underline effect
  // requires a different opacity for best legibility
  @include theme(light) {
    background-image: linear-gradient(
      to top,
      color($color, 0.16) 40%,
      transparent 40%
    );
    &:hover,
    &:focus {
      background-image: linear-gradient(
        to top,
        color(--color-highlight, 0.16) 40%,
        transparent 40%
      );
    }
  }
}

@mixin anchor-with-icon($align: left) {
  position: relative;
  display: inline;
  align-items: center;
  // internal icon class
  .icon {
    position: relative;
    transform: translateY(25%);
    @if ($align == left) {
      margin-right: $unit-size-base;
    } @else if($align == right) {
      margin-left: $unit-size-base;
    }
  }
}

@mixin css-underline($size: 2px, $color: --color-dark, $opacity: 1) {
  display: inline-block;
  padding-bottom: $size;
  background-repeat: repeat-x;
  background-image: linear-gradient(
    to top,
    color($color, $opacity) $size,
    transparent $size
  );
}

@mixin horizontal-rule($color: --color-light2) {
  background: color($color);
  width: 100%;
  max-height: none;
  height: $unit-size-sub;
  border: none;
  opacity: 0.5;
  margin: $unit-size-medium 0;
  @include breakpoint(large) {
    margin: $unit-size-large 0;
  }
}
