@import "~styles/colors";

/* color mapping for available themes within the app. */
$theme-map: (
  dark: (
    --color-dark: map-get($colors, white),
    --color-dark1: map-get($colors, gray400),
    --color-light2: map-get($colors, gray800),
    --color-light1: map-get($colors, gray900),
    --color-light: map-get($colors, black),
    --color-primary: map-get($colors, lilac),
    --color-secondary: map-get($colors, tangerine),
    --color-highlight: map-get($colors, yellow),
  ),
  light: (
    --color-dark: map-get($colors, black),
    --color-dark1: map-get($colors, gray600),
    --color-light2: map-get($colors, gray200),
    --color-light1: map-get($colors, gray100),
    --color-light: map-get($colors, white),
    --color-primary: map-get($colors, violet),
    --color-secondary: map-get($colors, maroon),
    --color-highlight: map-get($colors, green),
  ),
);

/* populates css color variable mapping to theme-map */
@mixin map-css-vars-by-theme($theme) {
  @each $color-var, $color in map-get($theme-map, $theme) {
    #{$color-var}: #{get-primaries-from-color($color)};
  }
}

@mixin theme($theme) {
  @media (prefers-color-scheme: $theme) {
    @content;
  }
}
