@import "~styles/themes";
@import "~styles/queries";
@import "~styles/units";

.page {
  position: relative;
}

hr {
  border: none;
  outline: none;
  background-color: rgba-color(background-2);
  height: $unit-size-sub;
  margin: $unit-size-medium 0;
  @include breakpoint(large) {
    margin: $unit-size-large 0;
  }
}
