@import "~styles/mixins";
@import "~styles/units";
@import "~styles/themes";

.app-link {
  display: inline-flex;
  align-items: center;
  padding-left: $unit-size-sub/2;
  padding-right: $unit-size-sub/2;
  margin-left: -$unit-size-sub/2;

  a {
    @include app-link(primary);
    order: 2;
    border-radius: 0;
    margin: 0;
  }

  i,
  svg {
    position: relative;
    color: rgba-color(primary);
  }

  &:hover,
  &:focus {
    outline: none;
    background: rgba-color(highlight);
    color: rgba-color(background-0);
    border-radius: $unit-size-sub/2;
    @media (prefers-color-scheme: light) {
      color: rgba-color(foreground-0);
    }

    i,
    svg {
      color: inherit;
    }
    span,
    a {
      //@include app-link(highlight);
      background: none;
      color: inherit;
    }
  }

  &.icon-align-left {
    i,
    svg {
      margin-right: $unit-size-base;
    }
  }

  &.icon-align-right {
    i,
    svg {
      order: 3;
      margin-left: $unit-size-base;
    }
  }
}
