@import "~styles/colors";
@import "~styles/queries";

.article-group {
  margin: 0;
}

.month {
  color: color(--color-dark);
  text-transform: capitalize;
  font-size: 1.5rem;
  font-weight: 600;
}

.year {
  color: color(--color-dark1);
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.topics {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 1.2rem;
  grid-column-gap: 1.2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  @include breakpoint(x-large) {
    grid-template-columns: 1fr;
  }
}

.topic {
  list-style: none;
}
