@import "~styles/mixins";
@import "~styles/themes";
@import "~styles/units";

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 1em 0;
  border-width: 0;
  border-style: solid;
  border-color: rgba-color(secondary);
  border-left-width: $unit-size-sub;
    border-radius: $unit-size-sub/2;

}

blockquote {
  position: relative;
  color: rgba-color(secondary);
  font-style: italic;
  font-weight: 400;
  line-height: 1.75;
  padding: $unit-size-small $unit-size-medium;
  background: rgba-color(background-0);
  margin: 0;
  border-width: 0;
  flex-grow: 1;
  width: 100%;
  box-sizing: border-box;
}
