@import "~styles/themes";
@import "~styles/mixins";
@import "~styles/units";

.call-out-wrapper {
  @include responsive-spacing("padding", 0.75);
  background: rgba-color(background-2);
  border-width: 0;
  border-left-width: $unit-size-sub;
  border-style: solid;
  border-color: rgba-color(foreground-0);
  border-radius: $unit-size-sub/2;

  h4 {
    color: rgba-color(foreground-0);
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
