@import "~styles/colors";
@import "~styles/queries";
@import "~styles/units";

.container {
  display: grid;
  grid-template-areas: "header header header" ". main ." "footer footer footer";
  grid-template-rows: auto 1fr auto;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header,
.footer {
  display: none;
}

.header {
  grid-area: header;
  grid-row: 1;
  position: relative;
  color: color(--color-dark);
}

.main {
  grid-row: 2;
  grid-area: main;
  position: relative;
  box-sizing: border-box;
  padding: $unit-size-small;
  width: 100%;
  max-width: 100vw;
  flex-grow: 1;
  justify-self: center;
  @include breakpoint(medium) {
    padding: $unit-size-medium;
  }
  @include breakpoint(large) {
    padding: $unit-size-large;
    max-width: map-get($breakpoints, breakpoint-3);
  }
}

.footer {
  grid-row: 3;
  grid-area: footer;
  position: relative;
  color: color(--color-dark);
}
