@import "~styles/colors";

.date-box {
  margin: 0;
  padding: 0rem;
  color: color(--color-dark);
  text-transform: capitalize;
  display: inline-grid;
  row-gap: 0.125rem;
}

.date {
  color: color(--color-dark1);
}
