@import "~styles/colors";
@import "~styles/units";

.date-box {
  color: color(--color-dark);
  text-transform: capitalize;
  /*
  border-width: 0;
  border-left-width: $unit-size-sub;
  border-style: solid;
  border-color: color(--color-dark1);
  padding-left: $unit-size-medium;
  */
}

.title {
  color: color(--color-dark);
  font-weight: 600;
}
