@import "~styles/colors";

.date-box {
  margin: 0;
  padding: 0rem;
  color: color(--color-dark);
  font-size: 0.875rem;
  text-transform: capitalize;
  display: inline-grid;
  row-gap: 0.125rem;
  background: color(--color-light2);
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  padding: 0;
  background: transparent;
}

.title {
  font-weight: 600;
}
.value {
  font-weight: 400;
  color: color(--color-dark1);
}
