@import "~styles/colors";
@import "~styles/themes";
@import "~styles/units";

.tag {
  padding: $unit-size-sub $unit-size-small;
  display: flex;
  align-items: center;
  justify-content: center;
  background: color(--color-secondary, 0.12);
  color: color(--color-secondary, 1);
  box-sizing: border-box;
  font-weight: 400;
  text-transform: lowercase;
  white-space: nowrap;
  @include theme(light) {
    background: color(--color-secondary, 0.12);
  }
}
